# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache

.idea/compiler.xml
.idea/copyright/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
build.sbt
src/main/resources/
src/main/scala-2.12/
src/test/scala-2.12/
